<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="header" id="card-header">
          <div class="pull-right hidden-print">
            <div class="btn-group">
              <button class="btn btn-secondary" type="button" (click)="setMonth(previousMonth)">{{previousMonth | date: 'MMMM yyyy'}}</button>
              <button class="btn btn-secondary" type="button" (click)="setMonth(nextMonth)">{{nextMonth | date: 'MMMM yyyy'}}</button>
            </div>
            &nbsp;
            <button class="btn btn-primary" type="button" (click)="export()"><i class="ti-download"></i></button>
          </div>
          <h4 class="title">Laporan Keuangan</h4>
          <p class="category">{{month | date: 'MMMM yyyy'}}</p>
          <div class="clearfix"></div>
        </div>
        <div class="content" id="card-content">
          <div appListAutoHeight>
            <ag-grid-angular
              #grid
              style="height: 100%;" 
              class="ag-theme-fresh"
              [rowData]="data" 
              [pinnedBottomRowData]="totalRows"
              [columnDefs]="columnDefs"
              [enableColResize]="true"
              (modelUpdated)="gridModelUpdated($event)"
              [suppressColumnVirtualisation]="true">
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>